#msgInner {
    background-color: #A492E8;
}

.dropdown-menu {
    padding: 0px;
    border-radius: 6px;
}

.btn {
    border: none;
    border-radius: 6px;
    box-shadow: 10 10 lightgray !important;
}

.btn:hover {
    cursor: pointer;
}

.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus,
textarea:focus, textarea.active.focus {
    outline: none !important;
    box-shadow: none !important;
}

.brand:hover {
    color: white
}